@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,200&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
}

/* firstlook.........................  */
.firstlook{
  height: auto;
  min-height: 100vh;
  background: #fceabb;
background: -moz-radial-gradient(center, ellipse cover,  #fceabb 0%, #fccd4d 50%, #fbdf93 100%);
background: -webkit-radial-gradient(center, ellipse cover,  #fceabb 0%,#fccd4d 50%,#fbdf93 100%);
background: radial-gradient(ellipse at center,  #fceabb 0%,#fccd4d 50%,#fbdf93 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fceabb', endColorstr='#fbdf93',GradientType=1 );

}
.fa-forumbee{
  color: #fbdf93;
}
.cnav{
  background: #ffb76b;
background: -moz-linear-gradient(-45deg,  #ffb76b 0%, #ff7c00 0%, #ffa73d 51%, #ff7c00 51%, #ff7f04 100%);
background: -webkit-linear-gradient(-45deg,  #ffb76b 0%,#ff7c00 0%,#ffa73d 51%,#ff7c00 51%,#ff7f04 100%);
background: linear-gradient(135deg,  #ffb76b 0%,#ff7c00 0%,#ffa73d 51%,#ff7c00 51%,#ff7f04 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffb76b', endColorstr='#ff7f04',GradientType=1 );
box-shadow: 0px 10px 5px 1px rgba(0,0,0,0.54);
-webkit-box-shadow: 0px 10px 5px 1px rgba(0,0,0,0.54);
-moz-box-shadow: 0px 10px 5px 1px rgba(0,0,0,0.54);
position: fixed;
top: 0px;
width: 100%;
z-index: 100;
}
.navbar-brand{
  font-family: 'Satisfy', cursive;
  font-weight: 600;
  font-size: 30px;
}
.posterimg{
  height: 50vh;
  border-radius: 5px;
}
.cfirst{

}
.cmt img{
  width: 15%;
}
.cinput{
  height: 2.3em;
  border-radius: 3px;
  border: none;
  display: inline-block;
}
.cmt{
  margin-top: 2cm;
}
.startBtn{
  margin: 2em 0;
}
@media ( min-width:768px ) {
  .cfirst{
    padding-top: 30vh;
  }
  .cmt{
    text-align: left;
  }
  .cmt h3,p {
    text-align: left;
  }
}
/* seclook......................  */

.seclook{
  min-height: 30vh;
  background-color: #142F43;
  overflow: hidden;
}
.helpcon{
  color: #fceabb;
  font-size: 3rem;
  margin: 2em 0;
  text-shadow: 2px 2px 3px rgba(0,0,0,0.84);
}
/* productssec......................  */

.productssec{
  height: 100vh;
  background-color: #ffa73d;
  padding: 3em;
}
.productcont{
  height: 90vh;
  overflow-y: auto;

}
.cCards{

}
.card-img-top{
  height: 40vh;
  transition: 100ms ease-in;
}
.card-img-top:hover{
  margin-top: 1em;
  margin-left: 1em;
}
.card{
  margin: auto;
  margin-top: 2em;
}