*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.sec{
    background-color: aquamarine;
    min-height: 100vh;
    overflow: hidden;
    box-shadow: 0px 0px 22px 6px rgba(0,0,0,0.75) inset;
    -webkit-box-shadow: 0px 0px 22px 6px rgba(0,0,0,0.75) inset;
    -moz-box-shadow: 0px 0px 22px 6px rgba(0,0,0,0.75) inset;
}
.secNight{ background-color: rgb(41, 41, 41); color: blanchedalmond; }
.name{
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translate(-50%,-50%);
    display: inline-block;
    font-size: 2em;
    font-family: fantasy;
    
}
.container{
    
    position:relative;
}
.p1{
    transform: translate(-50%,-50%);
    left: 25%;
    top: 25em;
    /* background-color: black; */
    position:absolute ;
    padding: 100%;
    text-align: center;
}
.p2{
    transform: translate(-50%,-50%);
    left: 75%;
    top: 25em;
    /* background-color: black; */
    position:absolute ;
    padding: 100%;
    text-align: center;
}
.roll{
    transform: translate(-50%,-50%);
    left: 50%;
    top: 30em;
    /* background-color: black; */
    position:absolute ;
    padding: 1.5em;
    text-align: center;
    font-weight: 600;
    font-family:monospace;
    font-size: 1em;
    cursor: pointer;
}
.theme{
    position: absolute;
    bottom: 20%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 2em;
    font-weight: 600;
    font-family:monospace;
    font-size: 1em;
    cursor: pointer;
}
img{
    width: 15em;
}