body{
    background-color: #FFEFA1;
}
hr{
    border-style: none;
    border-top-style:  dotted;
    width: 50px;
    border-width: 7px;
    border-color: #B8B5FF;
}
h1{
    color: #1CC5DC;
}
h3{
    color: #7868E6;
}